<app-layout>
    <div class="row mt-5 justify-content-center">
        <div class="col-8">
            <h2 class="display-4">{{ operacao }} Cliente</h2>
        </div>
        <div class="col-6 mt-5">
            <div class="card animate__animated animate__fadeInDown">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <sales-input
                                titulo="Nome:"
                                placeholder="Insira o nome do cliente"
                                [valorInicial]="cliente.nome"
                                (valorRetorno)="cliente.nome=$event"
                            >
                            </sales-input>
                        </div>

                        <div class="col-5 mt-3">
                            <sales-input
                                titulo="Telefone:"
                                placeholder="Telefone"
                                mascara="(00) 0 0000-0000"
                                [valorInicial]="cliente.telefone"
                                (valorRetorno)="cliente.telefone=$event"
                            >
                        </sales-input>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <sales-busca-cep
                                [valor]="cliente.cep"
                                (valorRetornoCep)="cliente.cep=$event"
                                (valorRetornoLogradouro)="cliente.endereco=$event"
                                (valorRetornoCidade)="cliente.cidade=$event"
                                (valorRetornoUf)="cliente.uf=$event"
                            >
                            </sales-busca-cep>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10 mt-2">
                            <sales-input
                                titulo="Endereço:"
                                placeholder="Endereço"
                                [valorInicial]="cliente.endereco"
                                (valorRetorno)="cliente.endereco=$event"
                            >
                            </sales-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mt-2">
                            <sales-input
                                titulo="Cidade:"
                                placeholder="Cidade"
                                [valorInicial]="cliente.cidade"
                                (valorRetorno)="cliente.cidade=$event"
                            >
                            </sales-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mt-2">
                            <sales-input
                                titulo="UF:"
                                placeholder="UF"
                                [valorInicial]="cliente.uf"
                                (valorRetorno)="cliente.uf=$event"
                            >
                            </sales-input>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <sales-button 
                                *ngIf="alterarBotaoCadastrarSalvar()"
                                class="mr-2"
                                nome="Cadastrar"
                                classeHabilitado="btn btn-outline-primary"
                                (enventoClick)="incluirCliente()"
                            >
                            </sales-button>
                            <sales-button 
                                *ngIf="!alterarBotaoCadastrarSalvar()"
                                class="mr-2"
                                nome="Salvar"
                                classeHabilitado="btn btn-outline-primary"
                                (enventoClick)="alterarCliente()"
                            >
                            </sales-button>

                            <sales-button
                                nome="Voltar"
                                classeHabilitado="btn btn-outline-primary"
                                (enventoClick)="voltar()"
                            >
                            </sales-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-layout>