.row{
    height: 100vh;
}

.nav{
    //height: 50%;
}
.nav-item{
    height: 50px;
    width: 100% !important;
}

.menu{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgb(18,29,95), rgb(58,6,71));
}

.menu__titulo{
    font-family: 'Caveat', cursive;
    font-size: 3em;
    color: rgb(255, 255, 255);
}

.menu__item{
    display: flex;
    align-items: center;
    font-size: 1.5em;;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s;
}

.menu__item:hover{
    background-color: rgba(255, 255, 255,0.4);
    transition: all 0.3s;
}

i{
    font-size: 1em;
}