<app-layout>
    <div class="row mt-5 justify-content-center">
        <div class="col-8 ">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <sales-input-text
                                titulo="Nome"
                                tipo="text"
                                [valorInicial]="cliente.nome"
                                (valorRetorno)="cliente.nome=$event"
                            >
                            </sales-input-text>
                        </div>
                        <div class="col-12 mt-3">
                            <sales-button
                            classeHabilitado="btn btn-primary"
                            nome="Pesquisar"
                            classeIcone="fa fa-search"
                            >
                            </sales-button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-layout>
    
   

 

<!--  <form #cadastro="ngForm" (ngSubmit)="enviarDados(cadastro)">
     <label for="nome">Nome</label>

     <input type="text" id="nome" name="nome" [(ngModel)]="cliente.nome" #nome="ngModel" required />
     <label for="telefone">Telefone</label>
     <input type="text" id="telefone" name="telefone" [(ngModel)]="cliente.telefone" #nome="ngModel" required />


     <button type="submit">Enviar</button>
 </form> -->